*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif ;
}

body{
  background-color: var(--bool-dark);
}

img{
  width: 100%;
}
:root{
  
    --bool-dark: #1a1a1aff;
    --bool-light:#ffffffff;
    --bool-accent: #db1a27ff;
}